/* Content of stylesheet.css */

/* Basic reset to remove padding, margin, and set box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Style the background wrapper */
#background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

/* Style the title */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.6em;
    color: #333;
}

/* Center the game canvas */
#gameCanvas {
    width: 100%;
    max-width: 1000px; /* or the max width you want for your game */
    min-height: 600px;
    margin: 0 auto;
    border: 5px solid #333;
}

/* Additional styles */
canvas {
    display: block; /* Remove inline spacing */
    margin: auto; /* Center the canvas if it's not full screen */
}